.button {
  border-radius: 50%;
  padding: 1.5rem;
  border-bottom: 10px outset;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.button:hover {
  transform: scale(105%);
}

.button__image-wrapper {
  background-color: white;
  border-radius: 50%;
  padding: 2rem 2.2rem;
  border-top: 8px inset rgba(255, 255, 255, 0.5);
}

.button__image-wrapper img {
  width: 60px;
}
