.hand {
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.hand__inner-div {
  display: grid;
  place-content: center;
  background-color: white;
  border-top: 8px inset hsla(0, 0%, 100%, 0.5);
  border-radius: 50%;
}