.hands-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.hands-container__div {
  display: grid;
  justify-items: center;
  text-align: center;
  color: white;
  letter-spacing: 0.12rem;
}

.hands-container__div img {
  width: 100px;
}

.hands-container__div div {
  padding: 2rem;
}

.paper {
  background: radial-gradient(var(--Paper-gradient));
  border-bottom-color: hsla(230, 89%, 65%, 0.5);
  width: 228px;
}

.scissors {
  background: radial-gradient(var(--Scissors-gradient));
  border-bottom-color: hsla(40, 84%, 53%, 0.5);
  width: 228px;
}

.rock {
  background: radial-gradient(var(--Rock-gradient));
  border-bottom-color: hsla(349, 70%, 56%, 0.5);
  width: 228px;
}

.placeholder {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: hsl(237, 49%, 15%);
}

.game-result {
  align-self: center;
  text-align: center;
}

.game-result h1 {
  color: white;
  margin: 0;
  font-size: 4rem;
}

.game-result button {
  color: hsl(229, 25%, 31%);
  font-size: 1.15rem;
  letter-spacing: 0.125rem;
  width: 250px;
  padding: 1rem 0;
  margin-top: 1rem;
  border-radius: 0.5rem;
}
