.modal {
  padding: 2rem;
  border-radius: 0.6rem;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  animation: showModal 150ms forwards;
}

@keyframes showModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.modal img {
  cursor: pointer;
}

.modal p {
  color: var(--Dark-text);
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  line-height: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  height: 100svh;
  width: 100vw;
  background-color: hsla(237, 49%, 15%, 0.5);
}
